// $font-family-regular: 'PingFang-SC-regular', Helvetica, Tahoma, Arial, 'Microsoft YaHei', 'Hiragino Sans GB',
//   'WenQuanYi Micro Hei', sans-serif;
$font-family-regular: 'Microsoft YaHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
$body-bg-color: #f0f0f0;
$body-padding-lr: 30rpx;

$color-themes: #50e6cc;
$color-themes-blue: #2ec3f3;

$color-themes-linear: linear-gradient(to right, #28e0cf, #2ebff4);
